In [1]:
import pandas as pd

In [2]:
occupancy=pd.read_csv('synthetic_parking_occupancy_data.csv')

In [4]:
occupancy.head(10)

,timestamp,parking_space_id,occupancy_status,day_of_week,hour_of_day
0,2023-08-01 00:00:00,1,1,1,0
1,2023-08-01 01:00:00,1,0,1,1
2,2023-08-01 02:00:00,1,0,1,2
3,2023-08-01 03:00:00,1,1,1,3
4,2023-08-01 04:00:00,1,0,1,4
5,2023-08-01 05:00:00,1,1,1,5
6,2023-08-01 06:00:00,1,0,1,6
7,2023-08-01 07:00:00,1,1,1,7
8,2023-08-01 08:00:00,1,0,1,8
9,2023-08-01 09:00:00,1,0,1,9

In [5]:
occupancy.shape

(52566, 5)

In [6]:
occupancy.info

<bound method DataFrame.info of                  timestamp  parking_space_id  occupancy_status  day_of_week  \
0      2023-08-01 00:00:00                 1                 1            1
1      2023-08-01 01:00:00                 1                 0            1
2      2023-08-01 02:00:00                 1                 0            1
3      2023-08-01 03:00:00                 1                 1            1
4      2023-08-01 04:00:00                 1                 0            1
...                    ...               ...               ...          ...
52561  2024-07-30 20:00:00                 6                 1            1
52562  2024-07-30 21:00:00                 6                 0            1
52563  2024-07-30 22:00:00                 6                 1            1
52564  2024-07-30 23:00:00                 6                 0            1
52565  2024-07-31 00:00:00                 6                 0            2

       hour_of_day
0                0
1                1
2                2
3                3
4                4
...            ...
52561           20
52562           21
52563           22
52564           23
52565            0

[52566 rows x 5 columns]>